{% set side = section.centerblock %}
<div class="es_signoff-content es_content__container  es_content__container--1000 re_pad--20 re_flex--col re_margin_v-20 re_align-center es_border-{{  textcolor}} es_border-thick es_bg-{{ bg }} scaleAnim">
	{% for group in side %}

		{% if group.block == 'headingsection' %}
			{% if group.topdecoration|default %}
				<img src="{{ asset('assets/img/common-assets/es_common_diamond_circuit-' ~ textcolor ~ '.png', 'theme') }}" class="es_heading_underline es_heading_underline--reverse">
			{% endif %}
			<div>
			<h2 class="re_font-uppercase es_scramble_text">
				{{ group.heading }}
			</h2>
			</div>
			{% if group.bottomdecoration|default %}
				<img src="{{ asset('assets/img/common-assets/es_common_diamond_circuit-' ~ textcolor ~ '.png', 'theme') }}" class="es_heading_underline">
			{% endif %}
		{% endif %}

		{% if group.block == 'textsection' %}
			{{ group.content | raw }}
		{% endif %}

		{% if group.block == 'buttonsection' %}
			<a href="{{ group.url | lower }}" target="{% if group.newTab == 'buttonsection' %}_blank{% endif %}" class="es_btn es_btn--{{ group.buttoncolor }} es_btn--text-wrap re_margin_0 re_mob_margin_bot-20 es_color-{{ group.buttoncolor }} es_btn--fill-{{ group.buttonbackground }} es_glitch-border es_glitch-text-med"><span data-text="{{ group.content }}">{{ group.content }}</span></a>
		{% endif %}

	{% endfor %}
</div>