{% set center = section.centerblock %}
{% set sides = [section.leftblock, section.rightblock] %}
{% set sideWidth = section.sideblockwidth|split(':') %}

<div class="es_content__container es_content__container--push es_content__container--{{ section.contentwidth }} {{section.optionclass}}">
  <div class="re_col-{{ section.centerblockwidth }} es_color-{{ textcolor }}">
    {% for group in center %}

      {% if group.block == 'headingsection' %}
        <h2>{{ group.heading }}</h2>
      {% endif %}


      {% if group.block == 'textsection' %}
        {{ group.content | raw }}
      {% endif %}


      {% if group.block == 'buttonsection' %}
        <a href="{{ group.url | lower }}" target="{% if group.newTab == 'buttonsection' %}_blank{% endif %}" class="es_btn es_btn--{{ group.buttoncolor }} es_btn--text-wrap re_margin_0 re_mob_margin_bot-20 es_color-{{ group.buttoncolor }} es_btn--fill-{{ group.buttonbackground }} es_glitch-border es_glitch-text-med"><span data-text="{{ group.content }}">{{ group.content }}</span></a>
      {% endif %} 


      {% if group.block == 'imagesection' %}
        {% if group.video.url != '' %}
          {% set lightboxLink = group.video.url %}
        {% else %}
          {% set lightboxLink = group.image.file | image %}
        {% endif %}
        <a {{ group.link |default ? 'href=' ~ group.link :  'data-fslightbox href=' ~ lightboxLink }} {{ group.newtab|default ? 'target="_blank"' }} class="re_block re_pos--relative {{ not group.mobileimage.file != '' ? 're_hide-on--mobile-tablet' : ''}}">
          <img src="{{ group.image.file | image }}">
          {% if group.video.url != '' %}
            <img class="es_slider__video-play-btn" src="{{ asset('assets/img/common-assets/es_common_icon_play.png', 'theme' ) }}" alt="video play button">
          {% endif %}
        </a>
        {% if group.mobileimage.file != '' %}
          <a {{ group.link |default ? 'href=' ~ group.link :  'data-fslightbox href=' ~ lightboxLink }} {{ group.newtab|default ? 'target="_blank"' }} class="re_block re_pos--relative re_hide-on--desktop">
            <img src="{{ group.mobileimage.file | image }}">
            {% if group.video.url != '' %}
            <img class="es_slider__video-play-btn" src="{{ asset('assets/img/common-assets/es_common_icon_play.png', 'theme' ) }}" alt="video play button">
          {% endif %}
          </a>
        {% endif %}
      {% endif %}
      

      {% if group.block == 'widgetsection' %}
        {% include('partials/'~group.widgetType~'.twig') %}
      {% endif %}

    {% endfor %}
  </div>
</div>


<div class="es_content__container es_content__container--padded es_content__container--{{ section.contentwidth }} {{section.optionclass}}">
  {% for side in sides %}
  <div class="re_col-{{ sideWidth[loop.index0] }}">
    {% for group in side %}

      {% if group.block == 'headingsection' %}
        <h2>{{ group.heading }}</h2>
      {% endif %}


      {% if group.block == 'textsection' %}
        {{ group.content | raw }}
      {% endif %}


      {% if group.block == 'buttonsection' %}
         <a href="{{ group.url | lower }}" target="{% if group.newTab == 'buttonsection' %}_blank{% endif %}" class="es_btn es_btn--{{ group.buttoncolor }} es_btn--text-wrap re_margin_0 re_mob_margin_bot-20 es_color-{{ group.buttoncolor }} es_btn--fill-{{ group.buttonbackground }} re_col-100 es_glitch-border es_glitch-text-med"><span data-text="{{ group.content }}">{{ group.content }}</span></a>
      {% endif %} 


      {% if group.block == 'imagesection' %}
        {% if group.video.url != '' %}
          {% set lightboxLink = group.video.url %}
        {% else %}
          {% set lightboxLink = group.image.file | image %}
        {% endif %}
        <a {{ group.link |default ? 'href=' ~ group.link :  'data-fslightbox href=' ~ lightboxLink }} {{ group.newtab|default ? 'target="_blank"' }} class="re_block re_pos--relative {{ group.mobileimage.file != '' ? 're_hide-on--mobile-tablet' : ''}}">
          <img src="{{ group.image.file | image }}">
        </a>
        {% if group.mobileimage.file != '' %}
          <a {{ group.link |default ? 'href=' ~ group.link :  'data-fslightbox href=' ~ lightboxLink }} {{ group.newtab|default ? 'target="_blank"' }} class="re_block re_pos--relative re_hide-on--desktop">
            <img src="{{ group.mobileimage.file | image }}">
          </a>
        {% endif %}
      {% endif %}

      {% if group.block == 'slidersection' %}
        {% set themecolor = bg == 'darkblue' ? 'light' : 'dark' %}
        {{ include('partials/_slider.twig', { 'slider' : group.slider, 'color': themecolor, 'active': 'true', 'width' : 'full' } ) }}
      {% endif %}
      

      {% if group.block == 'widgetsection' %}
       {% include('partials/'~group.widgetType~'.twig') %}
      {% endif %}

    {% endfor %}
  </div>
 {% endfor %}
</div> 


